/* style.css – optional small overrides */
body {
    transition: background-color 0.3s, color 0.3s;
}

details summary::marker {
    color: #999;
}

/* Esconder scrollbar en Chrome, Safari y Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Esconder scrollbar en IE, Edge y Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}